############
## Clarion: RAYS
############

##.gitignore
##.gitattributes

*.sublime-workspace
*.sesion
 
_[aA][rR][cC][hH][iI][vV][eE]_
[hH][iI][dD][eE]
[Tt][eE][mM][pP]

############
## Clarion
############
##*.app
*.ap~
*.bpp
*.bct
*.cache
**/Cla*.dll
*.dct
*.exe
*.FileList.xml
*.ini
*.MAP
*.EXP
obj/**
*/obj/**
*.obj
PWEE*.txt
*.rsc
*.RSC
*.images
*.txa
*.zip

############
*.BAT
*.SQL
*.txt
*.TPS
*.SCN
############
Backup
##Classes
Database
##IconSets
##Images
Lib
Source
Version
Working
_database_*
_csv_to_import
_Clarion_
Test

############
## Windows
############
# Windows image file caches
Thumbs.db
EC0*