# 2025.05.25 RAYS: RYBEQUATES

# https://help.github.com/articles/dealing-with-line-endings

# Set the default behavior, in case people don't have core.autocrlf set.
* text eol=crlf

# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.
*.[Cc][Ll][Ww] text
*.[Ii][Nn][Cc] text
*.[Ii][Nn][Tt] text
*.[Cc][Ww][Pp][Rr][Oo][Jj] text
*.[Ss][Ll][Nn] text

# Version control files 
*.[Aa][Pp][Vv] text
*.[Dd][Cc][Vv] text

# Declare files that will always have CRLF line endings on checkout.
*.[Ss][Ll][Nn] text eol=crlf

# Denote all files that are truly binary and should not be modified.
*.[Aa][Pp][Pp] binary
*.[Dd][Cc][Tt] binary
*.[Dd][Ll][Ll] binary
*.[Ee][Xx][Ee] binary
*.[Ll][Ii][Bb] binary
*.[Bb][Mm][Pp] binary
*.[Cc][Uu][Rr] binary
*.[Gg][Ii][Ff] binary
*.[Ii][Cc][Oo] binary
*.[Jj][Pp][Gg] binary
*.[Pp][Nn][Gg] binary
*.[Ss][Bb][Pp] binary
*.[Zz][Ii][Pp] binary
*.[Hh][Ll][Pp] binary
*.[Cc][Hh][Mm] binary

# Declare help as documentation folder
[Hh][Ee][Ll][Pp]/* linguist-documentation

# Declare language association
*.[Cc][Ll][Ww] linguist-language=Clarion
*.[Cc][Ww][Pp][Rr][Oo][Jj] linguist-language=Clarion
*.[Ee][Qq][Uu] linguist-language=Clarion
*.[Ii][Nn][Cc] linguist-language=Clarion
*.[Ii][Nn][Tt] linguist-language=Clarion
*.[Ss][Ll][Nn] linguist-language=Clarion
*.[Tt][Pp][Ll] linguist-language=Clarion
*.[Tt][Pp][Ww] linguist-language=Clarion
*.[Tt][Xx][Aa] linguist-language=Clarion
*.[Tt][Xx][Dd] linguist-language=Clarion
*.[Dd][Cc][Tt][Xx] linguist-language=Clarion
*.[Aa][Pp][Pp][Xx] linguist-language=Clarion

*.[Pp][Cc][Hh][Aa][Ss][Tt] filter=lfs diff=lfs merge=lfs -text
*.[Dd][Ll][Ll] filter=lfs diff=lfs merge=lfs -text
*.[Ee][Xx][Ee] filter=lfs diff=lfs merge=lfs -text
*.[Pp][Nn][Gg] filter=lfs diff=lfs merge=lfs -text
*.[Gg][Ii][Ff] filter=lfs diff=lfs merge=lfs -text
*.[Jj][Pp][Gg] filter=lfs diff=lfs merge=lfs -text
*.[Ii][Cc][Oo] filter=lfs diff=lfs merge=lfs -text
*.[Cc][Uu][Rr] filter=lfs diff=lfs merge=lfs -text
*.[Ll][Ii][Bb] filter=lfs diff=lfs merge=lfs -text
*.[Ww][Mm][Ff] filter=lfs diff=lfs merge=lfs -text
*.[Bb][Mm][Pp] filter=lfs diff=lfs merge=lfs -text
*.[Pp][Dd][Ff] filter=lfs diff=lfs merge=lfs -text
*.[Tt][Pp][Ss] filter=lfs diff=lfs merge=lfs -text
*.[Zz][Ii][Pp] filter=lfs diff=lfs merge=lfs -text
*.[Xx][Ll][Ss][Xx] filter=lfs diff=lfs merge=lfs -text
*.[Xx][Ll][Ss]* filter=lfs diff=lfs merge=lfs -text
*.[Aa][Pp][Pp] filter=lfs diff=lfs merge=lfs -text
*.[Ff][Ll][Tt] filter=lfs diff=lfs merge=lfs -text
*.[Dd][Oo][Cc] filter=lfs diff=lfs merge=lfs -text
*.[Dd][Oo][Cc][Xx] filter=lfs diff=lfs merge=lfs -text
*.[Cc][Dd][Rr] filter=lfs diff=lfs merge=lfs -text
*.[Oo][Ll][Rr] filter=lfs diff=lfs merge=lfs -text
*.[Dd][Cc][Tt] filter=lfs diff=lfs merge=lfs -text
*.[Cc][Oo][Ll] filter=lfs diff=lfs merge=lfs -text
*.[Cc][Oo][Ll]* filter=lfs diff=lfs merge=lfs -text
*.[Ii][Dd][Bb] filter=lfs diff=lfs merge=lfs -text
*.[Rr][Ee][Ss] filter=lfs diff=lfs merge=lfs -text
*.[Dd][Rr][Ww] filter=lfs diff=lfs merge=lfs -text
*.[Rr][Tt][Ff] filter=lfs diff=lfs merge=lfs -text
*.[Ii][Oo][Bb][Jj] filter=lfs diff=lfs merge=lfs -text
*.[Ii][Dd][Xx] filter=lfs diff=lfs merge=lfs -text
*.[Tt][Bb][Ll] filter=lfs diff=lfs merge=lfs -text
*.[Hh][Ll][Pp] filter=lfs diff=lfs merge=lfs -text
*.[Cc][Hh][Mm] filter=lfs diff=lfs merge=lfs -text
*.[Dd][Cc][Tt][Xx] filter=lfs diff=lfs merge=lfs -text
*.[Aa][Pp][Pp][Xx] filter=lfs diff=lfs merge=lfs -text
