# 2025.05.25 RAYS: RYBEQUATES

##.gitignore
##.gitattributes

*.sublime-workspace
*.sesion
_[Aa][Rr][Cc][Hh][Ii][Vv][Ee]_
_[Ff][Ee][Ee][Dd][Bb][Aa][Cc][Kk]_
_[Bb][Uu][Ii][Ll][Dd]_
[hH][iI][dD][eE]
[Tt][eE][mM][pP]
_[Ss][Qq][Ll]_

# Directories generated during compile
[Ww][Oo][Rr][Kk][Ii][Nn][Gg]
[Ss][Oo][Uu][Rr][Cc][Ee]
[Vv][Ee][Rr]Ss][Ii][Oo]{Nn]
[Ll][Ii][Bb]

_database_*
_csv_to_import
_Clarion_
Test
Backup
Database

#setup
SetupRYBEQUATES.sb~
SetupRYBEQUATES.csv
SetupRYBEQUATES.htm

## generated computer languages
Clarion
CSharp
Python
TypeScript
JavaScript

############
## Clarion
############
*.BAT
*.SQL
*.txt
*.TPS
*.DAT
*.SCN

*.[Tt][Xx][Aa]
*.[Tt][Xx][Dd]

*.[Oo][Bb][Jj]
*.[Rr][Ss][Cc]
*.[Mm][Aa][Pp]
*.[Ee][Xx][Pp]
*.[Bb][Kk][Pp]
*.[Cc][Ww][Pp][Rr][Oo][Jj].[Ff][Ii][Ll][Ee][Ll][Ii][Ss][Tt].[Xx][Mm][Ll]
*.[Ff][Ii][Ll][Ee][Ll][Ii][Ss][Tt].[Xx][Mm][Ll]
*.[Ss][CC][Nn]
*.[Ll][Nn][Kk]
*.[Bb][Aa][Kk]
*.$$$
*.[Ee][Xx][Ee]
*.[Dd][Ll][Ll]
*.[Ii][Nn][Ii]
*.[Cc][Aa][Cc][Hh][Ee]
*.[Bb][Pp][Pp]
*.[Ap][Pp]~
[Pp][Ww][Ee][Ee]*.[Tt][Xx][Tx]
**/[Cc][Ll][Aa]*.[Dd[[Ll][Ll]
[Oo][Bb][Jj]/**
*/[Oo][Bb][Jj]/**
*.[Gg][Pp][Ff]

############
## Windows
############
# Windows image file caches
Thumbs.db
EC0*

